<header>
    <h1>{{titulo}}</h1>

    <nav>
        <a routerLink="/registro" routerLinkActivate="active-tab">
            Registro Usuarrio
        </a>
        <a routerLink="/buscador" routerLinkActivate="active-tab">
            Buscador Pokemon
        </a> 
        <a routerLink="/charmander" routerLinkActivate="active-tab">
            charmander
        </a> 
        <a routerLink="/nidorina" routerLinkActivate="active-tab">
            nidorina
        </a> 
        <a routerLink="/paras" routerLinkActivate="active-tab">
            paras
        </a> 
        <a routerLink="/pikachu" routerLinkActivate="active-tab">
            pikachu
        </a> 
        <a routerLink="/raichu" routerLinkActivate="active-tab">
            raichu
        </a> 
        <a routerLink="/vulpix" routerLinkActivate="active-tab">
            vulpix
        </a> 
        <a routerLink="/pokemon_lista" routerLinkActivate="active-tab">
            pokemon_lista
        </a> 
        <a routerLink="/pokemon_detalles" routerLinkActivate="active-tab">
            pokemon_detalles
        </a>

    </nav>
</header>

<main>
    
    <router-outlet></router-outlet>
    </main>



