<div>
    @if (cargando){
        <h2> Cargando datos ... espere en linea por favor</h2>
    } @else if(pokemonData){

        <div>
            <h1>{{pokemonData.name}}</h1>
            <img [src]="pokemonData.sprite.other['oficial-artwork'].front_default">
            <h3> Estadistica Base </h3>
            <ul>
                @for (stat of pokemonData.stats; track stats.stat.name){
                    <li><strong> {{stats.stat.name}} :  </strong> {{stat.base_stat}}</li>
                }
            </ul>
            
            <a routerLink="/"> volver a la lista </a>


        </div>
    } @else {
        <h2> ¡El pokemon no fue encontrado!</h2>
    }
</div>
